# Lab 03 - Pandas I

Name: Dylan Zucker 

Class: CSCI 349 - Intro to Data Mining

Semester: 2019SP

Instructor: Brian King

In [2]:
# Imports
import sys
import numpy as np
import pandas as pd

### 1. Report the Python, Numpy and Pandas version numbers

In [7]:
print(sys.version)
print(np.version)
print(pd.__version__)

3.6.8 |Anaconda, Inc.| (default, Dec 29 2018, 19:04:46)
[GCC 4.2.1 Compatible Clang 4.0.1 (tags/RELEASE_401/final)]
<module 'numpy.version' from '/Users/Dylan/anaconda3/envs/csci349_2019sp/lib/python3.6/site-packages/numpy/version.py'>
0.23.4

### 2. Show the result of pd.show_versions().

In [8]:
print(pd.show_versions())

INSTALLED VERSIONS
------------------
commit: None
python: 3.6.8.final.0
python-bits: 64
OS: Darwin
OS-release: 17.5.0
machine: x86_64
processor: i386
byteorder: little
LC_ALL: None
LANG: en_US.UTF-8
LOCALE: en_US.UTF-8

pandas: 0.23.4
pytest: None
pip: 18.1
setuptools: 40.6.3
Cython: None
numpy: 1.15.4
scipy: 1.1.0
pyarrow: None
xarray: None
IPython: 7.2.0
sphinx: None
patsy: 0.5.1
dateutil: 2.7.5
pytz: 2018.7
blosc: None
bottleneck: None
tables: None
numexpr: None
feather: None
matplotlib: 3.0.2
openpyxl: None
xlrd: None
xlwt: None
xlsxwriter: None
lxml: None
bs4: None
html5lib: 1.0.1
sqlalchemy: None
pymysql: None
psycopg2: None
jinja2: 2.10
s3fs: None
fastparquet: None
pandas_gbq: None
pandas_datareader: None
None

### 3. Explain the relationship between numpy and pandas. How are they tied together? What core functionality does pandas add to numpy?

Pandas is dependant on Numpy. Pandas has a dataframe object which makes cleaning and analyzing data easier. Pandas DataFrames and Series don't have to be the same datatype.

### 4. The two primary data structures in pandas are Series and DataFrame. Compare and contrast these two types

A DataFrame is a 2 dimensional object that can have elements of different types. Series are 1D arrays that can have different object types as elements.

### 5. What are the data structures that can be used to create a Series object in pandas?
Scalar values, dictionaries, and ndarrays.

### 6. What are the data structures that can be used to create a DataFrame object in pandas?

Dictionaries, another DataFrame object, or 2D numnpy arrays.

### 7. What role does the index parameter play when creating a Series object? Does the index always need to be specified? If not, under what conditions is it needed? When can it be implied?

The index parameter makes the data organized. It gives names to your columns. It can be implicit or set.

### 8. Convert scores_1 and scores_2 into two Series objects. Use days as your index. You should name each Series object using the name parameter as "week_1", and "week_2"

In [12]:
days = ["Mon","Tue","Wed","Thu","Fri"]
scores_1 = [9.5, 8.75, 8, 10, 7.75]
scores_2 = [9, 8, 10, 8.75, 7.25]
week_1 = pd.Series(data=scores_1, index = days)
week_2 = pd.Series(data=scores_2, index = days)

### 9. Create a pandas DataFrame called scores, that represents the above data. Show your data frame.

In [34]:
scores = pd.DataFrame([week_1, week_2], ["week_1", "week_2"])
scores

        Mon   Tue   Wed    Thu   Fri
week_1  9.5  8.75   8.0  10.00  7.75
week_2  9.0  8.00  10.0   8.75  7.25

### 10. Append one more week of data to scores. The data you are appending is [8.5,8,9.75,9,6]. The row label on the new week is "week_3". Show your updated data frame.

In [35]:
t = pd.DataFrame([pd.Series(data=[8.5,8,9.75,9,6], index=days)],["week_3"])
scores = scores.append(t)
scores

        Mon   Tue    Wed    Thu   Fri
week_1  9.5  8.75   8.00  10.00  7.75
week_2  9.0  8.00  10.00   8.75  7.25
week_3  8.5  8.00   9.75   9.00  6.00

### 11. Pandas has an ENORMOUS number of ways you can select your data. At first, the flexibility will confuse and drive you nuts. In time, it because amazing and intuitive (with less nuts.) From their 10 minute tutorial:  

### Write yourself a quick one sentence reference for each access method listed above, with one example for each using the scores DataFrame. Of course, in addition to the above access methods, you can use the [ ] operator to access your data. Oh, and DataFrames create attributes for each column of data you have. For example, scores ["Mon"], or scores.Mon could be used, respectively. From the 10 minute tutorial, briefly summarize what you can in your own notes. Find some good cheat sheets, or make your own. AND – PAY CLOSE ATTENTION TO THE RETURN TYPES! Some return DataFrame objects, and other techniques return Series objects.

.at: Access a single value using the label.
.lat: Acces a single value in a row/column.
.loc: ACcess a group of rows and cols by label.
.iloc: Access element based on its index.

### 12. Show at least two different techniques to select scores for Monday using the string "Mon"

In [40]:
print(scores["Mon"])
print(scores.loc[:, "Mon"])

week_1    9.5
week_2    9.0
week_3    8.5
Name: Mon, dtype: float64
week_1    9.5
week_2    9.0
week_3    8.5
Name: Mon, dtype: float64

### 13. Show how to retrieve the scores for Tuesday using the named attribute Tue

In [41]:
scores.Tue

week_1    8.75
week_2    8.00
week_3    8.00
Name: Tue, dtype: float64

### 14. Show at least three techniques to select scores for Wednesday using an integer.

In [48]:
print(scores.iloc[:,2])
print(scores[scores.columns[2]])
print(scores.ix[:, 2])

week_1     8.00
week_2    10.00
week_3     9.75
Name: Wed, dtype: float64
week_1     8.00
week_2    10.00
week_3     9.75
Name: Wed, dtype: float64
week_1     8.00
week_2    10.00
week_3     9.75
Name: Wed, dtype: float64

/Users/Dylan/anaconda3/envs/csci349_2019sp/lib/python3.6/site-packages/ipykernel_launcher.py:3: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  This is separate from the ipykernel package so we can avoid doing imports until

### 15. Select the data for the first week using the string "week_1"

In [54]:
scores.loc["week_1", :]

Mon     9.50
Tue     8.75
Wed     8.00
Thu    10.00
Fri     7.75
Name: week_1, dtype: float64

### 16. Select the data for the first week using a slice (HINT: 0:1)

In [56]:
scores.iloc[0:1, :]

        Mon   Tue  Wed   Thu   Fri
week_1  9.5  8.75  8.0  10.0  7.75

### 17. Show at least two techniques to select the data for the second week using an integer

In [108]:
print(scores.iloc[1:2, :])
print(scores.ix[1, :])

        Mon  Tue   Wed   Thu   Fri
week_2  9.0  8.0  10.0  8.75  7.25
Mon     9.00
Tue     8.00
Wed    10.00
Thu     8.75
Fri     7.25
Name: week_2, dtype: float64

/Users/Dylan/anaconda3/envs/csci349_2019sp/lib/python3.6/site-packages/ipykernel_launcher.py:2: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

### 18. Select Monday and Friday of the first and third week.

In [106]:
scores[["Mon", "Fri"]].loc[["week_1","week_3"], :]

        Mon   Fri
week_1  9.5  7.75
week_3  8.5  6.00

### 19. Report the mean for each week

In [112]:
mean1 = scores.loc["week_1", :].mean()
mean2 = scores.loc["week_2", :].mean()
mean3 = scores.loc["week_3", :].mean()

scores.mean(axis=1)

week_1    8.80
week_2    8.60
week_3    8.25
dtype: float64

### 20. For each week, report how much each day's score for that week differed from the mean for the week

In [113]:
print("Week 1: \n", abs(scores.loc["week_1", :] - mean1))
print("Week 2: \n", abs(scores.loc["week_2", :] - mean2))
print("Week 3: \n", abs(scores.loc["week_3", :] - mean3))

Week 1:
 Mon    0.70
Tue    0.05
Wed    0.80
Thu    1.20
Fri    1.05
Name: week_1, dtype: float64
Week 2:
 Mon    0.40
Tue    0.60
Wed    1.40
Thu    0.15
Fri    1.35
Name: week_2, dtype: float64
Week 3:
 Mon    0.25
Tue    0.25
Wed    1.50
Thu    0.75
Fri    2.25
Name: week_3, dtype: float64

### 21. Report the maximum score for each week

In [85]:
max1 = scores.loc["week_1", :].max()
max2 = scores.loc["week_2", :].max() 
max3 = scores.loc["week_3", :].max()
print("Week 1: ", max1 )
print("Week 2: ", max2 )
print("Week 3: ", max3 )

Week 1:  10.0
Week 2:  10.0
Week 3:  9.75

### 22. For each week, report which day had the largest score

In [103]:
s2 = scores.T
imax1 = s2["week_1"].idxmax()
imax2 = s2["week_2"].idxmax()
imax3 = s2["week_3"].idxmax()

print("Week 1: ", imax1 )
print("Week 2: ", imax2 )
print("Week 3: ", imax3 )

Week 1:  Thu
Week 2:  Wed
Week 3:  Wed

### 23. Report the scores rescaled to fall between 0 and 100, instead of 0 to 10 as they are now.

In [105]:
scores * 10

         Mon   Tue    Wed    Thu   Fri
week_1  95.0  87.5   80.0  100.0  77.5
week_2  90.0  80.0  100.0   87.5  72.5
week_3  85.0  80.0   97.5   90.0  60.0