# Lab014 - Clustering II: Hierarchical Agglomerative Clustering

Name: Dylan Zucker 

Class: CSCI 349 - Intro to Data Mining

Semester: 2019SP

Instructor: Brian King

In [3]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns; sns.set() # for plot styling
from scipy.spatial.distance import pdist, squareform
from scipy.cluster.hierarchy import linkage, fcluster, dendrogram, cophenet
from sklearn.cluster import AgglomerativeClustering
from sklearn.metrics.cluster import adjusted_rand_score, homogeneity_completeness_v_measure, contingency_matrix
from sklearn.datasets.samples_generator import make_blobs

### 1. As with the previous lab, copy the following code to build a very basic set of clustered data using the make_blobs function in sklearn.datasets.samples_generator

In [4]:
X, y_true = make_blobs(n_samples=60, centers=5,
cluster_std=(0.3,0.4,0.5,0.7,0.7),
center_box=(0, 8), random_state=1234)

### 2. Convert your data into a single pandas data frame with three variables, "x", "y", and "target". The variable "target" will represent our ground truth, i.e. the correct cluster class. Be sure it is a true categorical variable. Then, be sure to show a scatterplot such that each target label is a different color.

In [5]:
df_data = pd.DataFrame({"x":pd.DataFrame(X)[0], "y":pd.DataFrame(X)[1], "target":y_true})
df_data["target"] = df_data["target"].astype("category")

### 3. Compute a distance matrix using the pdist function. Store the result as d. Use "euclidean" distance. Store the matrix as d.

In [12]:
d = pdist(X, 'euclidean')
print(d.shape)
d

(1770,)

array([3.52790455, 1.50933175, 3.11301827, ..., 3.9155729 , 0.534052  ,
       3.87728874])

### 4. Examine the resulting matrix d. What is its shape? What format is it in?
The shape is (1770,)

It is a 1D numpy array.

### 5. Convert the distance matrix from pdist to a pandas dataframe called df_dist. (HINT: You'll need to use squareform.)

In [30]:
df_dist = squareform(d)
df_dist = pd.DataFrame(df_dist)
df_dist.head()

,0,1,2,3,4,5,6,7,8,9,...,50,51,52,53,54,55,56,57,58,59
0,0.000000,3.527905,1.509332,3.113018,3.106137,5.647516,0.752953,5.027081,4.562295,2.819590,...,2.526279,3.197559,4.447320,4.639205,3.151076,3.605939,4.273440,3.410112,0.627223,3.323010
1,3.527905,0.000000,4.986325,6.490441,6.017049,6.010610,4.092549,5.145468,4.652381,6.284118,...,6.052930,0.882848,1.956236,1.842579,6.413751,0.674445,0.783159,0.733998,4.095255,0.272721
2,1.509332,4.986325,0.000000,2.240175,2.893576,6.528401,1.348160,6.044060,5.634930,1.783741,...,1.225558,4.704627,5.947335,6.146846,2.475237,5.107262,5.705724,4.914049,1.155816,4.797798
3,3.113018,6.490441,2.240175,0.000000,1.368935,5.823922,2.424085,5.628892,5.371397,0.514515,...,1.225773,5.957978,6.884059,7.175408,0.436734,6.404999,7.266420,6.196081,2.486760,6.251760
4,3.106137,6.017049,2.893576,1.368935,0.000000,4.464303,2.356391,4.316091,4.101497,1.735131,...,2.332169,5.348321,6.044080,6.373648,0.951064,5.797769,6.798856,5.590322,2.538504,5.756147

### 6. What is the smallest value in d? Store it as dmin. (This represents the distance of pair that are the closest.) Show the index of the smallest value in d, and the value itself

In [25]:
dmin = d.min()
print("Min: ", dmin)
print("Index: ", d.argmin())

Min:  0.05855602656850508
Index:  1409

### 7.  Use the value to show the indices of the pair of observations that are the closest. Finally, show the two actual observations in X that are the closest. They should be extremely close in value, but not identical.

In [31]:
df_dist.iloc[[dmin]]

,0,1,2,3,4,5,6,7,8,9,...,50,51,52,53,54,55,56,57,58,59
0,0.0,3.527905,1.509332,3.113018,3.106137,5.647516,0.752953,5.027081,4.562295,2.81959,...,2.526279,3.197559,4.44732,4.639205,3.151076,3.605939,4.27344,3.410112,0.627223,3.32301

### 8. It is useful to be able to grab the indices of the n closest pairs in a distance matrix. Use your code above to create a function called get_closest_pairs to return a list of the n pairs of indices of observations that are the closest, from a supplied distance matrix. Your function should have two parameters: d â€“ a distance matrix, and n â€“ the number of pairs to return. 
### Use your function to show the indicies of the 5 closest pairs